$font-w: (
    Light: 300,
    Regular: 400,
    Medium: 500,
    Bold: 700,
);

$colors: (
    main: #0084ff,
    secondary: #0a58ca,
    text: #121212,
    bg: #f0f0f0,
    navtext: #c2c2c2,
    white: #ffffff,
)